{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} My Home{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}

{% block page_content %}
    <h1> Hello, my first flask application!</h1>
    <h1> Here is the time {{ current_time }}<h1>
    <p> The local time and date are {{ moment(current_time).format("LLL") }}</p>
    <p> That was {{ moment(current_time).fromNow(refresh = True) }}</p>
    <h1> Hello, {% if name %}{{name}} {% else %} Stranger {% endif %}! </h1>
    {{ wtf.quick_form(form) }}
{% endblock %}